<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<add key="TelegramToken" value="Token" />
		<add key="DBConnectingString" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=TelegramBotGarouqqqBot; Connect Timeout=50;Trusted_Connection=True;"/>
	</appSettings>


</configuration>